body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.image {
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}